.MovieList__list {
  margin-top: var(--m-size);
}

.MovieList__list__item {
  padding: 1rem;
}
.MovieList__list__item img {
  width: 100%;
}
.MovieList__list__item {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.MovieList__list__item:nth-child(even) {
  background-color: var(--light-grey);
  flex-direction: row-reverse;
}

.MovieList__list__item__content p {
  line-height: 2;
  margin-top: var(--m-size);
}

.MovieList__list__item__content {
  margin-left: 1rem;
  flex-basis: 50%;
}
.MovieList__list__item:nth-child(even) .MovieList__list__item__content {
  margin: 0 1rem 0 0;
}

@media (min-width: 600px) {
  .MovieList__list {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
  }
  .MovieList__list__item {
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 1px 2px var(--teal);
  }
  .MovieList__list__item:nth-child(even) {
    background-color: transparent;
  }
  .MovieList__list__item__content p {
    margin-top: var(--s-size);
    line-height: 2;
  }
}
@media (min-width: 800px) {
  .MovieList__list {
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
  }
  .MovieList__list__item {
    padding: 2rem;
  }
}
