.Movies__filter {
  margin: var(--l-size) 0;
}

.Movies__ratings__filter {
  margin: 0 auto;
}

.Movies__list__empty {
  margin-top: var(--l-size);
  font-size: var(--font-medium);
  text-align: center;
}

.Movies__results {
  font-size: var(--font-normal);
  color: var(--teal);
  margin-top: var(--m-size);
}

@media (min-width: 600px) {
  .Movies__ratings {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Movies__ratings__filter {
    width: 65%;
  }
  .Movies__results {
    font-size: var(--font-medium);
  }
}
