.Checkbox__container {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  padding-left: 35px;
  position: relative;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Checkbox__container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

/* Create a custom checkbox */
.Checkbox__checkmark {
  background-color: #eee;
  height: 18px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 18px;
}

/* On mouse-over, add a grey background color */
.Checkbox__container:hover input ~ .Checkbox__checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Checkbox__container input:checked ~ .Checkbox__checkmark {
  background-color: var(--teal);
}

/* Create the checkmark/indicator (hidden when not checked) */
.Checkbox__checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

/* Show the checkmark when checked */
.Checkbox__container input:checked ~ .Checkbox__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Checkbox__container .Checkbox__checkmark:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-width: 0 3px 3px 0;
  border: solid white;
  height: 8px;
  left: 6px;
  top: 3px;
  transform: rotate(45deg);
  width: 3px;
}
