.Filters__genre {
  padding: var(--l-size) 0;
}

.Filters__genre__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Filters__genre__item {
  margin-bottom: var(--s-size);
}
