.NotFoundPage {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.NotFoundPageGif {
  background-image: url(https://media.giphy.com/media/uLFLLXMajtNIc/giphy.gif);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 15px solid white;
  border-top: 15px solid white;
  height: 300px;
  margin-top: 2rem;
  width: 90%;
}

@media (min-width: 600px) {
  .NotFoundPageGif {
    background-size: auto;
    height: 412px;
    width: 479px;
  }
}
