.NotFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.NotFoundPageGif {
  width: 90%;
  height: 300px;
  margin-top: 2rem;
  background-image: url(https://media.giphy.com/media/uLFLLXMajtNIc/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  border-top: 15px solid white;
  border-bottom: 15px solid white;
}

@media (min-width: 600px) {
  .NotFoundPageGif {
    width: 479px;
    height: 412px;
    background-size: auto;
  }
}
